name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build APK
      uses: sayyid5416/pwabuilder@v1.0.0
      with:
        url: "https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/"
        package: "apk"
